* {
    margin: 0;
}

.App_contain {
    background-color: #000000;
    color: white;
    width: 100%;
    min-height: 100vh;
}

.page_header {
    position: sticky;
    top: 0;
    background: white;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #0c34ff solid;
    box-shadow: 0px 5px 10px -2px gray;
    z-index: 99;
}

.insta-logo {
    width: 150px;
    object-fit: contain;
}

.page_header input {
    padding: 10px;
}

.page_header form {
    display: flex;
}

.search-btn {
    background-color: rgb(193, 192, 192);
}

.search-btn img {
    width: 30px;
}

.header-right {
    display: flex;
}






button {
    border: none;
    cursor: pointer;
}

.mainPage-wrapper {
    display: flex;
    max-width: 1170px;
    margin: 5px auto;
    padding: 0 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.post_contain {
    max-width: 750px;
    margin-right: 10px;
}

.upload_contain {
    display: flex;
    justify-content: center;
    min-width: 400px;
}



.app_spin {
    background: rgb(204, 204, 204);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}






@media (max-width:768px) {
    .header_search {
        order: 3;
        flex-basis: 100%;
    }

    .page_header input {
        width: 90%;
    }

    .upload_contain {
        min-width: unset;
        width: 90%;
    }
}