/* ------------------------COMMENTS---------------------- */



.comment-form {
    display: flex;
    margin-top: 20px;
    border-radius: 3px;
    overflow: hidden;
}

.comment-input {
    padding: 8px 10px;
    flex: 1;
    border: none;
    border-radius: 0;
}

.comment-btn {
    color: black;
    border: none;
    border-radius: 0;
    background-color: rgb(201, 201, 201);
}
.comment-btn:hover{
    color: #000;
    font-weight: bold;
}
.comment-input:focus,
.comment-btn:focus {
    outline: none;
}



.comment_box {
    margin-top: 10px;
    padding: 10px 15px 15px;
    height: auto;
    /* overflow-y: auto; */
    background: #000000 url(../images/comment-bg.jpg) repeat;
}

.comment_box.blur1 {
    opacity: 0.5;
}

.comment_box b {
    color: aqua;
}

.comment_box::-webkit-scrollbar {
    width: 1em;
}

.comment_box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.comment_box::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 5px;
}
.comment-list{
    width: 100%;
    min-height: 38px;
    display: flex;
}
.comment-text{
    flex: 1;
    display: flex;
    padding: 0 5px;
    margin-bottom: 4px;
    line-height: 30px;
    word-break: break-all;
    white-space: pre-line;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
}

.comment-update{
    position: relative;
    width: 30px;
    padding: 4px auto;
    margin-bottom: 4px;
    text-align: center;
    cursor: pointer;
}
.comment-update h4{
    display: none;
}
.comment-update:hover h4{
    display: block;
}

.dummy-box{
    position: relative;
    width: 30px;
    padding: 4px auto;
    margin-bottom: 4px;
    text-align: center;
}
.update-option{
    display: block;
    width: 40px;
    height: auto;
    position: relative;
    font-size: 12px;
    background-color: black;
}
.update-option ul{
    overflow: hidden;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.update-option ul li{
    background-color: #3d465c;
}
.update-option ul li:hover{
    background-color: #00b93e;
}

.edit-form {
    position: relative;
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
}
.btn-subEdit{
    display: flex;
}


.show-comment{
    cursor: pointer;
}
.show-comment:hover{
    text-decoration: underline;
}
.btn-toggle-cm{
    text-align: center;
}
.cm-avatar{
    display: flex;
}
.cm-avatar div,
.cm-avatar img{
    width: 35px;
    height: 35px;
}
.comment-showMore {
    padding: 10px 0;
}
.comment-showMore p{
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
}
.comment-showMore p:hover{
    text-decoration: underline;
}

/* ------------------------COMMENTS---------------------- */