.post_username{
    display: flex;
    align-items: center;
}
.post-username:hover{
    text-decoration: underline;
}
.post_wrapper{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid gray;
    margin-bottom: 20px;
    background: #1f1f1f;
    max-width: 700px;
}
.post-image{
    max-width: 100%;
    margin: 10px 0;
    object-fit: contain;
}
.post-username{
    margin-left: 10px;
    cursor: pointer;
}

.comment_box{
    margin-top: 10px;
    padding: 10px 15px 15px;
    height: auto;
    overflow-y: auto;
    max-height: 150px;
    background: #000000 url(../images/comment-bg.jpg) repeat-x;
    
}
.comment_box.blur1{
    opacity: 0.5;
}
.comment_box p{
    margin-bottom: 4px;
    background-color: rgba(255,255,255,0.1);
    padding: 4px 5px;
    word-break: break-all;
}
.comment_box b{
    color: aqua;
}
.comment_box::-webkit-scrollbar {
    width: 1em;
  }
   
  .comment_box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .comment_box::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 5px;
  }
.comment-form{
    display: flex;
    margin-top: 20px;
    border-radius: 3px;
    overflow: hidden;
}
.comment-input{
    padding: 8px 10px;
    flex: 1;
    border: none;
    border-radius: 0;
}
.comment-btn{
    padding: 5px 15px;
    color: black;
    border: none;
    border-radius: 0;
    background-color: rgb(201, 201, 201);
}
.comment-input:focus,
.comment-btn:focus{
    outline: none;
}

@media (max-width:768px){
    #form-wrapper{
        width: 70%;
    }
    #form-wrapper1{
        width: 70%;
    }
    .comment_box::-webkit-scrollbar {
        width: unset;
      }
       
      .comment_box::-webkit-scrollbar-track {
        box-shadow: unset;
      }
       
      .comment_box::-webkit-scrollbar-thumb {
        background-color: unset;
        outline: unset;
        border-radius: none;
      }

}
